
/* 
    Created on : 07-ene-2015, 10:46:10
    Author     : Ismael Moral
*/
#microsoft-json{ visibility: hidden; }
#apple-json{ visibility: hidden; }
#google-json{ visibility: hidden; }

.graphics { min-width: 600px; min-height: 300px; }

h4 { background-color: #bce8f1; padding: 10px; border-radius: 5px; font-size: 12pt;}